body {
  background-color: #F7F7F8;
}

/*header*/

h1 {
  font-weight: 200;
  font-size: 50px;
  font-family: 'Noto Sans', sans-serif;
  color: #3B577D;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    background-size: cover;
    margin: 10px 400px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px grey;
    height: 310px;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #44679F;
  margin-left: 10px;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-left-radius: 29px;
  border-bottom-color: #44679F;
 }

.header p {
  font-family: 'Quicksand', serif;
  color: #476268;
  font-size: 12px;
}

#profile_picture {
    border-style: solid;
    opacity: 0.9;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    border-style: solid;
    border-color: steelblue;
    border-width: 3px;
}

/*SOCIAL CARDS*/
.social ul {
    background-color: ghostwhite;
    width: 246px;
    height: 20px;
    border-radius: 9px;
    margin: auto;
    box-shadow: 1px 1px 1px grey;
}

.social li {
    font-family: 'Josefin Sans';
    font-size: 13px;
    display: inline-block;
    margin: 0px 5px;
}

.social ul li a {
  color: #3B577D
}

/*film section*/
.container {
    background-color: #F1F1F1;
    text-align: center;
    background-size: cover;
    margin: 10px 400px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px grey;
}


.container p {
  margin-left: 28px;
  color: white;
}

.container .cards {
    font-size: 1.1em;
    background-color: #C0D9E5;
    padding: 10px 30px;
}

.container .cards h3 {
    background-color: #F1F1F1;
    font-size: 1.5em;
    color: #44679F;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 1px grey;
    padding-top: 3px;
}

.film_pictur {
    box-shadow: 2px 3px 6px grey;
    width: 200px;
    height: 260px;
    border-radius: 36px;
    border-style: solid;
    border-color: white;
}

/*footer*/
.footer {
  background-color: #F1F1F1;
  text-align: center;
  background-size: cover;
  margin: 10px 400px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px grey;
  padding-top: 10px;
}

.footer ul li{
  color: white;
  display: inline-block;
}

.footer h3 {
  color: #44679F;

}

.footer p {
  font-family: 'Orbitron', sans-serif;
  color: white;
  margin-left: 10px;

}

/*Media queries*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
