body {
  background-color: white;
}

/*header*/

h1 {
  font-size: 50px;
  font-family: 'Noto Sans', sans-serif;
  color: #40A798;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    background-size: cover;
    margin: 40px 228px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px grey;
    height: 185px;
}

h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  color: #E16428;
  margin-left: 10px;
 }

.header p {
  font-family: 'Quicksand', serif;
  color: #476268;
  font-size: 12px;
}

#profile_picture {
    padding: 23px;
    float: right;
    opacity: 0.9;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    margin-top: -82px;
}

/*SOCIAL CARDS*/
.social ul {
    background-color: #F6E9E9;
    width: 280px;
    height: 30px;
    border-radius: 9px;
    margin: auto;
}

.social li {
  display: inline;
  color: #E16428;
  list-style: none;
  height: 60px;
  font-size: 18px;
  font-family: : 'Spectral SC', serif;
}
/*film section*/
.container {
    background-color: #F1F1F1;
    text-align: center;
    background-size: cover;
    margin: 40px 228px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px 1px grey;
}


.container p {
  margin-left: 28px;
  color: white;
}

.container .cards {
  background-color: chocolate;
  font-size: 1.1em;
}

.container .cards h3 {
    background-color: #F1F1F1;
    font-size: 1.5em;
    color: black;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 1px grey;
    padding-top: 3px;
}

.film_pictur {
  box-shadow: 2px 3px 6px #F6E9E9;
  width: 250px;
  height: 290px;
}

/*footer*/
.footer {
  background-color: #F1F1F1;
  text-align: center;
  background-size: cover;
  margin: 40px 228px;
  border-radius: 7px;
  box-shadow: 1px 1px 1px 1px grey;
  padding-top: 10px;
}

.footer ul li{
  color: white;
  display: inline-block;
}

.footer h3 {

}

.footer p {
  font-family: 'Orbitron', sans-serif;
  color: #E16428;
  margin-left: 10px;

}

/*Media queries*/
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
